 <section>
   <div class="row g-0">
    <div class="col-md-10">
        <owl-carousel-o [options]="mainslide">
       
            <ng-template carouselSlide>
                <img height="400" class="h-400" src="./assets/images/main-slider-1.jpeg" alt=""class="w-100">
            </ng-template>  
            <ng-template carouselSlide> <img height="400" src="./assets/images/main-slider-2.jpeg" alt="" class="w-100"></ng-template>  
            <ng-template carouselSlide> <img  height="400" src="./assets/images/main-slider-.jpeg" alt=""class="w-100"></ng-template>  
          </owl-carousel-o>
    </div><div class="col-md-2">
       <img height="200" src="./assets/images/main-slider-1.jpeg" alt="" class="w-100">
       <img  height="200" src="./assets/images/main-slider-2.jpeg" alt="" class="w-100">
    </div>
   </div>
 </section>  
   
   
   
   
   
   
   <section>
  
  <owl-carousel-o [options]="Gategairesoptions">

    <ng-container *ngFor="let item of Gategaeryimges">
      <ng-template carouselSlide >

        <div>
            <img class="w-100" height="270" [src]="item.image" alt="">
            <p>{{item.name}}</p>
        </div>
       
      </ng-template>
    </ng-container>

  </owl-carousel-o>
  
 </section>
 
 
 
 
 
 <section class="my-3">


    <input type="search" class="form-control mx-auto w-50 my-3 " placeholder="search" [(ngModel)]="searchtext">
    <div class="row g-4">

        <div class="col-md-4 col-sm-4 col-lg-3  h-100"  *ngFor="let item of prdoct.slice(0,12) |search:searchtext">
            <div class="product  ">
              <div class="px-2 cursor-pointer" [routerLink]="['/details',item._id]">
                <img [src]="item.imageCover" class="w-100" alt="item.title">
                <h3 class="h6 ">{{item.category.name }}</h3>
                <h4 class="h6 font-sm">{{item.title|termext:2}}</h4>
                <div class="d-flex justify-content-between align-items-center">
                    <p>
                        <span >{{item.price|currency:'EGP'}}</span></p>
                    <p>
                        <i class="fas fa-star rating-color"></i>
                        <span >{{item.ratingsAverage}}</span>
                    </p>
                  
                   
    
                </div>
              </div>
                <button class="btn-main w-100" (click)="addtocart(item._id)">add  product</button>
            </div>
           
        </div>
    </div>
</section>
