<p>login works!</p>

<section class="bg-main-light mx-auto w-50 p-3 my-5">
    <form  [formGroup]="formlogin" (ngSubmit)="hellologin()">
     
     
        
         <div class="mb-2">
             <label for="email">email:</label>
             <input #inputemail type="email" class="form-control" formControlName="email">
             <div class="alert alert-danger" *ngIf="formlogin.get('email')?.errors && (formlogin.get('email')?.touched ||inputemail.value.length>0)">
                 <p *ngIf="formlogin.get('email')?.getError('required')">email is required</p>
                 <p *ngIf="formlogin.get('email')?.getError('email')">email is invalid</p>
                
             </div>
         </div>
         <div class="mb-2">
             <label for="password">password:</label>
             <input #inputpassword type="password" class="form-control" formControlName="password">
             <div class="alert alert-danger" *ngIf="formlogin.get('password')?.errors && (formlogin.get('password')?.touched ||inputpassword.value.length>0)">
                 <p *ngIf="formlogin.get('password')?.getError('required')">password is required</p>
                 <p *ngIf="formlogin.get('password')?.getError('pattern')">password  must start with uppercase then 6-20</p>
                
             </div>
         </div>
       
      
    
     <button class="btn-main d-block ms-auto" (click)="hellologin()"> 
         <i *ngif="isloading" class="fas fa-spinner fa-spin"></i>
       Login
         
         </button>
     
    </form>
 </section>